<template>
  <div class="card bg-light">
    <div class="card-header">ABM de usuario</div>
    <div class="card-body">
      <validation-observer v-slot="{ invalid, handleSubmit }">
        <h5 class="card-title">Cambiar contraseña</h5>
        <validation-provider
          name="Contraseña Actual"
          rules="required"
          v-slot="validationContext"
        >
          <div class="form-group">
            <label for="password">Contraseña Actual</label>
            <input
              type="password"
              :class="{
                'form-control': true,
                'is-invalid': validationContext.errors[0],
                'is-valid': validationContext.valid,
              }"
              id="password"
              v-model="user.password"
              name="Contraseña Actual"
            />
            <div class="invalid-feedback" v-show="validationContext.errors">
              {{ validationContext.errors[0] }}
            </div>
          </div>
        </validation-provider>
        <form @submit.prevent="handleSubmit(onSubmit)">
          <validation-provider
            name="Nueva Contraseña"
            rules="required|min:8|confirmed:confirmation"
            v-slot="validationContext"
          >
            <div class="form-group">
              <label for="newPassword">Nueva Contraseña</label>
              <input
                type="password"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="newPassword"
                v-model="user.newPassword"
                name="Nueva Contraseña"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <validation-provider
            name="Confirmar Contraseña"
            rules="required|min:8"
            v-slot="validationContext"
            vid="confirmation"
          >
            <div class="form-group">
              <label for="confirmPassword">Confirmar Contraseña</label>
              <input
                type="password"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="confirmPassword"
                v-model="user.confirmPassword"
                name="Confirmar Contraseña"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <div class="form-buttons">
            <button type="submit" class="btn btn-primary" :disabled="spinner">
              <span
                v-if="spinner"
                class="spinner-grow spinner-grow-sm"
                role="status"
              ></span>
              {{ buttonText }}
            </button>
            <router-link to="/user" class="btn btn-secondary"
              >Cancelar</router-link
            >
          </div>
        </form>
      </validation-observer>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      user: {},
      spinner: false,
    };
  },
  created() {
    if (this.$route.params.id) {
      this.getUser(this.$route.params.id);
    }
  },
  computed: {
    buttonText() {
      return this.spinner ? 'Guardando' : 'Guardar';
    },
  },
  methods: {
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    onSubmit() {
      this.spinner = true;
      axios
        .put(`http://localhost:9000/api/password/${this.user._id}`, this.user)
        .then(({ data }) => {
          this.$swal({
            icon: 'success',
            title: 'Cambio de contraseña exitoso!',
            text: `Se cambió la contraseña del usuario ${data.username}`,
            showConfirmButton: false,
            timer: 2500,
            backdrop: '#afa9',
          });
          this.$router.push({ name: 'listUser' });
        })
        .catch((err) =>
          this.$swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Las contraseñas parecen no coincidir',
          })
        )
        .finally(() => (this.spinner = false));
    },
    getUser(id) {
      axios.get(`http://localhost:9000/api/${id}`).then(({ data }) => {
        this.user = {
          _id: data._id,
          firstname: data.firstname,
          lastname: data.lastname,
          username: data.username,
        };
      });
    },
  },
};
</script>

<style>
.form-buttons .btn {
  margin-right: 5px;
}
</style>
