<template>
  <UserForm :handle-submit="createUser" />
</template>

<script>
import UserForm from '@/components/UserForm.vue';
import axios from 'axios';

export default {
  components: {
    UserForm,
  },
  methods: {
    createUser(user) {
      return axios.post('http://localhost:9000/api', user).then(({ data }) => {
        this.$swal({
          icon: 'success',
          title: 'Usuario creado!',
          text: `El usuario ${data.username} fue creado con exito`,
          showConfirmButton: false,
          timer: 2500,
          backdrop: '#afa9',
        });
      });
    },
  },
};
</script>
