<template>
  <UserForm :handle-submit="editUser" />
</template>

<script>
import UserForm from '@/components/UserForm.vue';
import axios from 'axios';

export default {
  components: {
    UserForm,
  },
  methods: {
    editUser(user) {
      return axios
        .put(`http://localhost:9000/api/${user._id}`, user)
        .then(({ data }) => {
          this.$swal({
            icon: 'success',
            title: 'Usuario actualizado!',
            text: `El usuario ${data.username} fue modificado con exito`,
            showConfirmButton: false,
            timer: 2500,
            backdrop: '#afa9',
          });
        });
    },
  },
};
</script>
