<template>
  <div>
    <h1>Listado de usuarios</h1>
    <router-link to="/user/create" class="btn btn-success mb-3 float-right"
      ><Icon icon="user-plus" /> Crear usuario</router-link
    >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Creado el</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody v-if="users.length > 0">
        <tr v-for="(user, index) in users" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ dateFormat(user.createdAt) }}</td>
          <td>
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-success"
                @click="editUser(user._id)"
              >
                <Icon icon="edit" />
              </button>
              <button
                type="button"
                class="btn btn-warning"
                @click="changePassword(user._id)"
              >
                <Icon icon="key" />
              </button>
              <button
                type="button"
                class="btn btn-danger"
                @click="removeItem(user._id)"
              >
                <Icon icon="trash-alt" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="4">
            No hay registros cargados
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';
import { format, parseISO } from 'date-fns';

export default {
  data() {
    return {
      users: [],
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    removeItem(id) {
      this.$swal
        .fire({
          title: '¿Estás seguro que deseas eliminar al usuario?',
          text: 'No podrás deshacer esta operación!',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Cancelar',
          confirmButtonText: 'Eliminar usuario',
          backdrop: '#f769',
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios.delete(`http://localhost:9000/api/${id}`).then(({ data }) => {
              this.$swal({
                icon: 'success',
                title: 'Usuario eliminado!',
                text: `El usuario ${data.name} fue eliminado con exito`,
                showConfirmButton: false,
                timer: 2500,
                backdrop: '#afa9',
              });
              this.getUsers();
            });
          }
        });
    },
    editUser(id) {
      this.$router.push({ name: 'editUser', params: { id } });
    },
    changePassword(id) {
      this.$router.push({ name: 'changePassword', params: { id } });
    },
    getUsers() {
      axios
        .get('http://localhost:9000/api')
        .then((response) => (this.users = response.data));
    },
    dateFormat(date) {
      return format(parseISO(date), 'dd/MM/yyyy HH:mm:ss', {
        awareOfUnicodeTokens: true,
      });
    },
  },
};
</script>

<style scoped></style>
