<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="#">
        <img src="@/assets/logo.png" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link to="/" class="nav-link">Inicio</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/user" class="nav-link">Usuarios</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/user/create" class="nav-link">Crear Usuario</router-link>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </nav>
    <section class="container">
      <router-view />
    </section>
  </div>
</template>

<style>
.nav-item a.nav-link.router-link-exact-active {
  color: #42b983;
}
</style>
