<template>
  <div class="card bg-light">
    <div class="card-header">ABM de usuario</div>
    <div class="card-body">
      <validation-observer v-slot="{ invalid, handleSubmit }">
        <h5 class="card-title">{{ title }}</h5>
        <form @submit.prevent="handleSubmit(onSubmit)">
          <validation-provider
            name="Nombre"
            rules="required"
            v-slot="validationContext"
          >
            <div class="form-group">
              <label for="firstname">Nombre</label>
              <input
                type="text"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="firstname"
                v-model="user.firstname"
                name="Nombre"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <validation-provider
            name="Apellido"
            rules="required"
            v-slot="validationContext"
          >
            <div class="form-group">
              <label for="lastname">Apellido</label>
              <input
                type="text"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="lastname"
                v-model="user.lastname"
                name="Apellido"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <validation-provider
            name="Nombre de Usuario"
            rules="required|email"
            v-slot="validationContext"
          >
            <div class="form-group">
              <label for="username">Nombre de Usuario</label>
              <input
                type="email"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="username"
                v-model="user.username"
                name="Nombre de Usuario"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <validation-provider
            name="Contraseña"
            rules="required|min:8|confirmed:confirmation"
            v-slot="validationContext"
            v-if="!$route.params.id"
          >
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="password"
                v-model="user.password"
                name="Contraseña"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
           <validation-provider
            name="Confirmar Contraseña"
            rules="required|min:8"
            v-slot="validationContext"
            vid="confirmation"
            v-if="!$route.params.id"
          >
            <div class="form-group">
              <label for="confirmPassword">Confirmar Contraseña</label>
              <input
                type="password"
                :class="{
                  'form-control': true,
                  'is-invalid': validationContext.errors[0],
                  'is-valid': validationContext.valid,
                }"
                id="confirmPassword"
                v-model="user.confirmPassword"
                name="Confirmar Contraseña"
              />
              <div class="invalid-feedback" v-show="validationContext.errors">
                {{ validationContext.errors[0] }}
              </div>
            </div>
          </validation-provider>
          <div class="form-buttons">
            <button type="submit" class="btn btn-primary" :disabled="spinner">
              <span
                v-if="spinner"
                class="spinner-grow spinner-grow-sm"
                role="status"
              ></span>
              {{ buttonText }}
            </button>
            <router-link to="/user" class="btn btn-secondary"
              >Cancelar</router-link
            >
          </div>
        </form>
      </validation-observer>
    </div>
  </div>
</template>

<script>
import VueTypes from 'vue-types';
import axios from 'axios';

export default {
  props: {
    handleSubmit: VueTypes.func.isRequired,
  },
  data() {
    return {
      user: {},
      spinner: false,
    };
  },
  created() {
    if (this.$route.params.id) {
      this.getUser(this.$route.params.id);
    }
  },
  computed: {
    title() {
      return this.$route.params.id ? 'Editar usuario' : 'Crear usuario';
    },
    buttonText() {
      return this.spinner ? 'Guardando' : 'Guardar';
    },
  },
  methods: {
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    onSubmit() {
      this.spinner = true;
      this.handleSubmit(this.user)
        .then(() => {
          this.$router.push({ name: 'listUser' });
        })
        .finally(() => (this.spinner = false));
    },
    getUser(id) {
      axios.get(`http://localhost:9000/api/${id}`).then(({ data }) => {
        this.user = {
          _id: data._id,
          firstname: data.firstname,
          lastname: data.lastname,
          username: data.username
        };
      });
    },
  },
};
</script>

<style scoped>
.form-buttons .btn {
  margin-right: 5px;
}
</style>
